body {
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #505050;
	line-height: 22px;
}

p {
	margin-top: 25px;
}

.about {
	margin: 20px;
	margin-bottom: 40px;
}

.post-content {
	margin-bottom: 50px;
}

.contact-icons {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.desc {
	font-style: italic;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.projects {
	margin: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.welcome-mat {
	margin: 20px;
	border-bottom: 1px solid #A4A4A4;
}

.my-social-btn {
	color: GREY;
	margin-left: 8px;
	margin-right: 8px;
}

.fa-close {
	vertical-align: bottom;
	text-align: center;
	margin: -5px;
}

.navbar {
	background-image: url("../img/spacebar2.png");
}

.date {
	text-align: right;
}

.sidebar {
	border-right: 1px solid #A4A4A4;
}

.sidebar-blurb {
	text-align: center;
	margin-bottom: 50px;
}

.content {
	font-size: 125%;
	margin: 50px;
}

.profile {
	margin-top: 20px;
	margin-bottom: 50px;
	width: 150px;
	height: 150px;
}

.foot {
	font-style: italic;
	font-size: 75%;
	border-top: 1px solid #dededc;
	padding: 20px 0;
	text-align: center;
}
