<h3 class="text-center">Dylan Bernard</h3>

<img src="/img/dylan1.jpg" alt="Dylan and Jax, the Great Dane" class="img-circle img-responsive profile center-block">

<p class="sidebar-blurb">
Hi, I'm Dylan. I'm a Technologist in the DC area. I love building things, solving
problems, and I'm never afraid to learn something new!
</p>

<div class="sidebar-blurb">
  <a class="my-social-btn" href="{{ site.data.profiles.linkedin.site }}"><i class="fa my-fa-linkedin fa-2x"></i></a>
  <a class="my-social-btn" href="{{ site.data.profiles.twitter.site }}"><i class="fa my-fa-twitter fa-2x"></i></a>
  <a class="my-social-btn" href="{{ site.data.profiles.github.site }}"><i class="fa my-fa-git fa-2x"></i></a>
  <a class="my-social-btn" href="{{ site.data.profiles.facebook.site }}"><i class="fa my-fa-facebook fa-2x"></i></a>
</div>
